@use '../../utility/propsBuilder' as Screen;
@use '../../const/screenSize' as ScreenSize;

.hide {
	display: none !important;

	&-sm {
		@include Screen.mediaMin(ScreenSize.$sm) {
			display: none !important;
		}
	}

	&-md {
		@include Screen.mediaMin(ScreenSize.$tablet) {
			display: none !important;
		}
	}

	&-lg {
		@include Screen.mediaMin(ScreenSize.$pc) {
			display: none !important;
		}
	}

	&-xl {
		@include Screen.mediaMin(ScreenSize.$xl) {
			display: none !important;
		}
	}
}

.show {
	&-sm,
	&-md,
	&-lg,
	&-xl {
		display: none;
	}

	&-sm {
		@include Screen.mediaMin(ScreenSize.$sm) {
			display: inherit !important;
		}
	}

	&-md {
		@include Screen.mediaMin(ScreenSize.$tablet) {
			display: inherit !important;
		}
	}

	&-lg {
		@include Screen.mediaMin(ScreenSize.$pc) {
			display: inherit !important;
		}
	}

	&-xl {
		@include Screen.mediaMin(ScreenSize.$xl) {
			display: inherit !important;
		}
	}
}

.rlv {
	position: relative;
}
