/* DECORATIONS */
.pointer {
	cursor: pointer;
}
/* SPACING */

.m-l-auto {
	margin-left: auto;
}
/* WIDTH/HEIGHT */
.w-100 {
	width: 100%;
}

.h-100 {
	height: 100%;
}

.h-fit {
	height: fit-content !important;
}

.w-fit {
	width: fit-content !important;
}