@use '../../utility/propsBuilder.scss' as Build;

:root {
	--boxed: 9% 7%;
	--fluid: 5% 4%;
}

.boxed-content {
	padding: var(--boxed);
}

.fluid-content {
	padding: var(--fluid);
}

/* PARAMAS: (property-name: plain, class-name: string, amount: int > 0 [5], multiplier: int > 0 [5], axis: x | y) */
@include Build.props(gap, 'gap', 10);
@include Build.props(margin, 'm-y', 5, 5, y);
@include Build.props(margin-left, 'm-l', 5);
@include Build.props(margin-top, 'm-t', 5);
@include Build.props(margin-bottom, 'm-b', 5);

.m-0 {
	margin: 0 !important;
}

.py-0 {
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}

.gap-15 {
	gap: 75px;
}
