@use "mixins" as *;
@forward "abstracts";
@forward "const";

html {
  scroll-behavior: smooth;
  body {
    margin: 0;
    background-color: var(--background);
    text-rendering: optimizeLegibility;
    min-height: 100vh;

    h1 {
      @include h1;
    }

    h2 {
      @include h2;
    }

    h3 {
      @include h3;
    }

    h4,
    .h4 {
      @include h4;
    }

    p {
      @include p;
    }

    a {
      @include a;
    }

    input,
    button {
      outline: none;
    }

    button {
      @include button;
    }

    img {
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -o-user-select: none;
      user-select: none;
    }

    * {
      -webkit-box-sizing: border-box !important;
      -moz-box-sizing: border-box !important;
      -ms-box-sizing: border-box !important;
      box-sizing: border-box !important;

      &::selection {
        //	color: var(--white);
      }
    }

    @include flexbox; // #MaxInCloud - Custom flexbox mixins
  }
}