@use '../../../utility/propsBuilder.scss' as Screen;
@use '../../../const/screenSize.scss' as ScreenSize;

@mixin flex($direction: row, $important: false, $plain: false) {
	@if not $plain {
		@if $important == true {
			display: flex !important;
		} @else {
			display: flex;
		}
	}

	@if $important == true {
		flex-direction: $direction !important;
	} @else {
		flex-direction: $direction;
	}
}

@mixin flexbox {
	@include __flexResponsive(
		(
			'sm': ScreenSize.$sm,
			'md': ScreenSize.$tablet,
			'lg': ScreenSize.$pc,
			'xl': ScreenSize.$xl
		)
	);

	.flex-vr {
		@include __flexAlignments(align-items);
	}

	.flex-hr {
		@include __flexAlignments();
	}

	.flex-left {
		@include __flexAlignments(justify-content, right);
	}

	.flex-end {
		@include __flexAlignments(justify-content, flex-end);
	}

	.flex-all {
		justify-content: center;
		align-items: center;
	}

	.flex-wrap {
		flex-wrap: wrap;
	}

	.align-center {
		align-self: center;
	}
}

@mixin __flexAlignments($property: justify-content, $value: center) {
	#{$property}: $value;
}

@mixin __important {
	&\! {
		@content;
	}
}

@mixin __flexResponsive(
	$sizes: (
		$sm: 0em,
		$md: 0em,
		$lg: 0em,
		$xl: 0em
	)
) {
	$directions: row, column;

	.flex {
		@each $direction in $directions {
			$prefix: '';
			$opposite: column;
			@if $direction == column {
				$prefix: '-col';
				$opposite: row;
			}

			//1 ex. flex || flex-col
			&#{$prefix} {
				@include flex($direction);
				@include __important() {
					@include flex($direction, true);
				}

				@each $key, $size in $sizes {
					//2 ex. flex-col-md
					&-#{$key} {
						@extend .flex#{$prefix};
						//3.1 ex. flex-col-md || flex-col-md!
						@include Screen.mediaMin($size) {
							@include flex($opposite, false, true);

							@include __important() {
								@include flex($opposite, true, true);
							}
						}
					}
				}
			}
		}

		&-d {
			@each $key, $size in $sizes {
				// ex 1 flex-d-sm || flex-d-sm!
				&-#{$key} {
					@include Screen.mediaMin($size) {
						display: flex;

						@include __important() {
							display: flex !important;
						}
					}
				}
			}
		}
	}
}