/* #MaxInCloud - Text elements default */
@mixin text($light: false, $color: var(--primary), $monospace: false) {
	font-family: 'Inter', sans-serif;
	color: $color;

	&.light {
		color: var(--white);
	}

	&.mono {
		font-family: 'Fira Code', monospace;
	}

	@if $light {
		color: var(--text-primary);
	}

	@if $monospace {
		@extend .mono;
	}
}

@mixin h1 {
	@include text;
	font-size: var(--fs-h1);
	font-family: 'Inter', sans-serif;
}

@mixin h2 {
	@include text;
	font-size: var(--fs-h2);
}

@mixin h3 {
	@include text(false, var(--text-primary), true);
	font-size: var(--fs-md);
}

@mixin h4 {
	@include text(true);
	font-weight: lighter;
	font-size: var(--fs-sm);
}

@mixin p {
	@include text(false, var(--text-gray));
	font-size: var(--fs-md);
	font-weight: 300;
	letter-spacing: 0.02vmax;
	line-height: clamp(22px, 4.5vw, 35px);
}

@mixin a {
	@include text(false, var(--violet-light));
	border-bottom: 1px solid var(--primary);
	transition: color 250ms ease;
	font-size: var(--fs-sm);
	font-weight: 300;
	text-decoration: none;

	&.alive {
		width: fit-content !important;
		position: relative;
		border: none;
		padding-bottom: 2px;

		&::before {
			content: '';
			position: absolute;
			transition: all ease-in 250ms;
			bottom: -2px;
			width: 0%;
			height: 1px;
			background-color: var(--p1);
		}

		@media (hover: hover) {
			&:hover::before {
				background-color: var(--violet-light);
				width: 100%;
			}
		}
	}
}

h1,
h2,
h3,
h4,
p {
	margin: 0;
}

/* DECORATIONS */
.uppercase {
	text-transform: uppercase;
}

.text-center {
	text-align: center;
}
